*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

body{
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-rows: 100px 1fr 100px;
   padding-left: 350px;
   padding-right: 350px;
   font-family: 'Fasthand', cursive;
   background-image: url(./img/Design\ sem\ nome.png);
   background-size: cover;
   background-repeat: no-repeat;
}

header{
    display: grid;
    place-items: center;
    justify-content: center;
}

h1{
    width: 100%;
    font-style: 'Pacifico', cursive;
    color: gold;
    font-size: 3.5em;
}

.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
    "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
    "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
    gap: 12px;
}

.foto{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 1s;
}

.foto:nth-child(1){
    grid-area: f1;
    background-image: url(./img/31ecdcdf1518c6fe9300a87d4dab4d7e.jpg);
    background-position: center;
}

.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./img/41ea0cc8b47e2b12967e1e07f6269c1e.jpg);
    background-position: center;
}

.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./img/EzYdsUOXoAYTu1C.jpg);
    background-position: center;
}

.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./img/Screenshot_20230428-111242.png);
    background-position: center;
}

.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./img/tumblr_ebe2272050ec2e4d0696cb002cbdfe9e_037a0ca4_1280\ \(1\).jpg);
    background-position: center;
}

.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./img/tumblr_754a1a0b5439622c4cd532093126080e_8992f91d_1280.jpg);
    background-position: center;
}

.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./img/E2ANnKvWQAQoYeb.jpg);
    background-position: center;
}

.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./img/tumblr_367bac66d3a27db673f3a4b615bd3583_975ab9dc_1280.jpg);
    background-position: top;
}

.foto_info{
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0;
    background-color: gold;
    transform: translateY(100%);
    transition: 1s;
    color: white;
    border-radius: 0px 5px 5px 0px;
    display: grid;
}

.foto_info a{
    color: white;
    text-decoration: none;
    place-self: center;
    font-size: 1.2em;
}

.foto:hover > .foto_info{
    transform: translateY(0%);
}

.foto_info a:hover{
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver_mais{
    border-radius: 50px;
    background-color: gold;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.ver_mais * {
    text-decoration: none;
    color: white;
}

.ver_mais:hover{
    background-color: gold;
    border-style: solid;
    border-color: goldenrod;
    transform: scale(1.0);
}

@media (max-width:768px){
    body{
        height: auto;
        padding-right: 24px;
        padding-left: 24px;
        background-position: center;
    }

    .galeria{
        display: flex;
        flex-direction: column;
    }

    .foto{
        width: 100%;
        height: 33vh;
    }
}